# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
dist/
build/
*.egg

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
media/
staticfiles/
db.sqlite3
*.sqlite3

# Docker
**/Dockerfile
**/docker-compose.yml
**/docker-compose.override.yml
**/docker-compose.prod.yml
**/docker-compose.dev.yml
**/docker-compose.test.yml
**/docker-compose.local.yml
*.dockerignore

# Redis
*.rdb
*.aof

# Celery
celerybeat-schedule
celerybeat.pid

# Virtual Environment
venv/
env/
ENV/
.venv/
.ENV/
.env

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Windows
Thumbs.db