footer{
    background-color: rgba(23, 23, 26, 1);
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 82px; /*4vw*/
}
footer p{
    color: #A4A4A5;
    height: 3vh;
    text-align: end;
    width: 49vw;
}
