@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

.logo{
    margin-top: -7px;
    color: white;
    font-size: 16px;
    font-family: "Inter";
    font-weight: 700;
    word-wrap: break-word;
}

a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
    text-decoration: none;
    color: #666;
}

a.text:active{

}
#root{

}
